#--------------------------------------------------------------------
# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# available in a default install.
#
# By default, all of the settings are commented out. If you want
# to override the setting, you must un-comment it by removing the '#'
# at the beginning of the line.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8000/'
app.forceGlobalSecureRequests = false
app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
app.sessionCookieName = 'ci_session'
app.sessionExpiration = 7200
app.sessionSavePath = null
app.sessionMatchIP = false
app.sessionTimeToUpdate = 300
app.sessionRegenerateDestroy = false

app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = 
database.default.database = 
database.default.username = 
database.default.password = 
database.default.DBDriver = 
database.default.DBPrefix =
database.default.port = 

# If you use MySQLi as tests, first update the values of Config\Database::$tests.
# database.tests.hostname = localhost
# database.tests.database = ci4_test
# database.tests.username = root
# database.tests.password = root
# database.tests.DBDriver = MySQLi
# database.tests.DBPrefix =
# database.tests.charset = utf8mb4
# database.tests.DBCollat = utf8mb4_general_ci
# database.tests.port = 3306

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

# encryption.key =

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

# session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
# session.savePath = null

#--------------------------------------------------------------------
# CACHE
#--------------------------------------------------------------------

cache.handler = file
cache.storePath = 'writable/cache/'
cache.ttl = 60

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------

security.csrfProtection = 'session'
security.tokenRandomize = true
security.tokenName = 'csrf_token_name'
security.headerName = 'X-CSRF-TOKEN'
security.cookieName = 'csrf_cookie_name'
security.expires = 7200
security.regenerate = true
security.redirect = true
security.samesite = 'Lax'

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

logger.threshold = 4

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

contentsecuritypolicy.reportOnly = false
contentsecuritypolicy.defaultSrc = 'none'
contentsecuritypolicy.scriptSrc = 'self'
contentsecuritypolicy.styleSrc = 'self'
contentsecuritypolicy.imageSrc = 'self'
contentsecuritypolicy.base_uri = 'self'
contentsecuritypolicy.childSrc = 'self'
contentsecuritypolicy.connectSrc = 'self'
contentsecuritypolicy.fontSrc = 'self'
contentsecuritypolicy.formAction = 'self'
contentsecuritypolicy.frameAncestors = 'none'
contentsecuritypolicy.frameSrc = 'none'
contentsecuritypolicy.mediaSrc = 'self'
contentsecuritypolicy.objectSrc = 'none'
contentsecuritypolicy.pluginTypes = ''
contentsecuritypolicy.reportURI = ''
contentsecuritypolicy.sandbox = false
contentsecuritypolicy.upgradeInsecureRequests = false
