parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Views
        - app/Config
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Method .* does not exist#'
        - '#Property .* does not exist#'
        - '#Access to an undefined property#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
